html, body {
  font-family: IBM Plex Sans, sans-serif;
  height: 100%;
		line-height: 20px;
}

body {
	max-width: 1200px;
	width: 40%;
	margin: auto;
}

h1 {
	font-weight: 500;
	font-size: 2.2em;
	text-align: center;
	margin: 50px 0 80px 0;
}

h2 {
	font-weight: 500;
	font-size: 1.6em;
	margin: 40px 0 30px 0;
}

h3 {
        font-weight: 500;
        font-size: 1.2em;
        margin: 40px 0 30px 0;
}

h3 a {
	color: black;
}

p {
	margin: 20px 0;
}

a {
  color: blue; 
}
