body {
  padding-top: 4em;
}

a {
  text-decoration: none !important;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: rgb(89,101,111);
  border-width: 0px 4px 4px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin: 0 auto;
  position: absolute;
  bottom: 5vw;
  left: 47.5vw;
}

.arrow:hover {
  border-width: 0px 8px 8px 0px;
}

#landing {
  height: 100vh;
}

#landing h3 {
  margin-bottom: .5em;
}

#landing p {
  font-size: 1.25em;
}

section {
  padding: 2em 1em;
}

#modules, #zipkin, #docker {
  background-color: #b3d4cf;
}

#modules img, #docker img, #health img, #kubernetes img, #zipkin img, #prometheus img{
  margin: 0 auto;
  width: 90%;
}

#kubernetes img, #prometheus img, #zipkin img, #health img {
  width: 40%;
}

.navbar, footer {
  background:  #476A6F !important;
  opacity: .9;
}

footer {
  padding: 1em 0.5em;
  color: #dadada;
}

footer p {
  text-align: center;
  margin: 0;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.off-white-text, .nav-item a {
  color: #dadada !important;
}

.off-white-text:hover, .nav-item a:hover {
  color: white !important;
}

.navbar-toggler-icon {
  color: #dadada !important;
}

.fab, .fas, .far {
  color: #dadada;
  text-decoration: none;
  margin-left: 0.5em;
}

.fab:hover, .far:hover {
  color: white;
}
