html, body {
  font-family: IBM Plex Sans, sans-serif;
  height: 100%;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

.title h2 {
	font-size: 3em;
	text-align: center;
	margin: 30px 0 30px 0;
	font-weight: 600;
}

.title h3 {
	text-align: justify;
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
	font-weight: 500;
}

.resource-title {
	text-align: center;
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 10px;
}

.tiles {
	background-color: rgb(75, 180, 26);
	width: 100%;
	margin: 0;
}

.tiles h2 {
	text-align: center;
	font-weight: 600;
	font-size: 2em;
	padding-bottom: 20px;
}

.tiles-section {
	 display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
		width: 100%;
		margin: auto;
		border-radius: 20px;
		padding: 0;
		padding-top: 20px;
		padding-bottom: 20px;
}

.tile {
	border: 1px solid black;
	background-color: white; 
	border-radius: 20px;
	width: 300px;
	height: 180px;
	margin: 5px 5px;
	padding: 10px 10px;
	box-shadow: 0px 0px 15px rgba(185, 185, 185, 0.8);
}

.tile:hover {
	box-shadow: 0px 0px 18px rgba(70, 70, 70, 0.8);
}

.tile img {
	text-align: center;
	margin: auto;
	display: block;
	margin-bottom: 5px;
}

.tile h3 {
	text-align: center;
	font-weight: 600;
	font-size: 1.1em;
}

.tile p {
	text-align: center;
	margin-top: 40px;
}

.contact {
	text-align: center;
	font-size: 1.8em;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer {
	text-align: center;
	margin-top: 20px;
}

.footer h2 {
	font-size: 1.6em;
	margin-bottom: 10px;
	font-weight: 500;
}

.footer h3 {
	font-weight: 300;
	font-size: 1.8em;
	margin-bottom: 20px;
}