<div class="container">
  <a class="navbar-brand off-white-text" href="./index.html"><strong>CloudNativeJS</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="./privacy.html">Privacy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./terms.html">Terms of Use</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./accessibility.html">Accessibility</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contributing.html">Contributing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./blogs.html">Blogs</a>
      </li>
    </ul>
    <a href="https://twitter.com/cloudnativejs"<i class="fab fa-twitter" style="font-size:26px"></i></a>
    <a href="https://github.com/cloudnativejs"<i class="fab fa-github" style="font-size:26px"></i></a>
    <a href="mailto:jimmail@uk.ibm.com"<i class="far fa-envelope" style="font-size:26px"></i></a>
    <a href="https://node-js.slack.com/messages/CBV29RX62"<i class="fab fa-slack-hash" style="font-size:26px"></i></a>
  </div>
</div>
